@page "/AddSalary"
@inject NavigationManager navigation
@inject GlobalName globalName;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard - KMSC</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="Images/logo.png" alt="">
                <span class="d-none d-lg-block">KMSC</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">

                        <span class="d-none d-md-block dropdown-toggle ps-2">@globalName.userName</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>@globalName.status</h6>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>


                        <li>
                            <hr class="dropdown-divider">
                        </li>


                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                                <i class="bi bi-question-circle"></i>
                                <span>Need Help?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" @onclick="SignOut">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header>
    <!-- End Header -->
    <!-- ======= Sidebar ======= -->


    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="/Dashboard">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-person-circle"></i><span>Students</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/AllStudents">
                            <i class="bi bi-circle"></i><span>All Students</span>
                        </a>
                    </li>
                    <li>
                        <a href="/StudentInformation">
                            <i class="bi bi-circle"></i><span>Student Details</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AddStudent">
                            <i class="bi bi-circle"></i><span>Admission Form</span>
                        </a>
                    </li>
                    <li>
                        <a href="/StudentPromation">
                            <i class="bi bi-circle"></i><span>Student Promotion</span>
                        </a>
                    </li>


                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-person-fill"></i><span>Teachers</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/AllTeachers">
                            <i class="bi bi-circle"></i><span>All Teachers</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TeacherInformation">
                            <i class="bi bi-circle"></i><span>Teacher Detail</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AddTeacher">
                            <i class="bi bi-circle"></i><span>Add Teacher</span>
                        </a>
                    </li>

                </ul>
            </li><!-- End Forms Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-bar-chart"></i><span>Attendence</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/TakeAttendance">
                            <i class="bi bi-circle"></i><span>Take Attendance</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ViewAttendanceOfClass">
                            <i class="bi bi-circle"></i><span>View Attendance</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Charts Nav -->
            <ul class="nav flex-column" id="sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#Revenue" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-bank"></i><span>Revenue</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="Revenue" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                        <li>
                            <a class="nav-link collapsed" data-bs-target="#Students-nav" data-bs-toggle="collapse" href="#">
                                <i class="bi bi-chevron-down  me-2"></i><span>Students</span><i class="bi bi-chevron-down ms-auto"></i>
                            </a>
                            <ul id="Students-nav" class="nav-content collapse" data-bs-parent="#Revenue">
                                <li>
                                    <a href="/AllStudentFee">
                                        <i class="bi bi-circle"></i><span>View</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/AddFee">
                                        <i class="bi bi-circle"></i><span>Add Fee</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-link collapsed" data-bs-target="#Teachers-nav" data-bs-toggle="collapse" href="#">
                                <i class="bi bi-chevron-down  me-2"></i><span>Teachers</span>
                            </a>

                            <ul id="Teachers-nav" class="nav-content collapse" data-bs-parent="#Revenue">
                                <li>
                                    <a href="/AllTeacherSalary">
                                        <i class="bi bi-circle"></i><span>View</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/AddSalary">
                                        <i class="bi bi-circle"></i><span>Add Salary</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#Revenue-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-book"></i><span>Exams</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="Revenue-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/AllStudentExam">
                            <i class="bi bi-circle"></i><span>All Exams</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AddExam">
                            <i class="bi bi-circle"></i><span>Add Exams</span>
                        </a>
                    </li>

                </ul>
            </li><!-- End Icons Nav -->
        </ul>
    </aside>


    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Salary</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/AddSalary">Teachers</a></li>
                    <li class="breadcrumb-item">Add Salary</li>
                </ol>
            </nav>
        </div>
        <br />
        @if (flag != -1)
        {
            <div class="container form-container">

                <EditForm Model="salary" OnValidSubmit="AddFee">
                    <div class="row mb-3">
                        <div class="form-group col-md-4">
                            <label for="description">Teacher ID</label>
                            <InputNumber class="form-control" id="description" @bind-Value="salary.teacherID" required />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Total Salary</label>
                            <InputNumber class="form-control" @bind-Value="salary.totalSalary" required />
                        </div>

                        ]

                        <div class="form-group col-md-6">
                            <label for="classSelect">Salary Status</label>
                            <select class="form-control" id="classSelect" @bind="salary.salaryStatus" required>
                                <option value="">Select Status</option>
                                <option value="Paid">Paid</option>
                                <option value="Unpaid">Unpaid</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="monthSelect">Month</label>
                            <select class="form-control" id="monthSelect" @bind="salary.salaryMonth" required>
                                <option value="">Select Month</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="yearSelect">Year</label>
                            <select class="form-control" id="yearSelect" @bind="salary.salaryYear" required>
                                <option value="">Select Year</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                                <option value="2030">2030</option>
                                <option value="2031">2031</option>
                                <option value="2032">2032</option>
                                <option value="2033">2033</option>
                                <option value="2034">2034</option>
                                <option value="2035">2035</option>
                                <option value="2036">2036</option>

                            </select>
                        </div>



                        <div class="col-md-6">
                            <label for="datepicker" class="form-label">Pay Date</label>
                            <InputDate class="form-control" id="datepicker" @bind-Value="salary.payDate" required />
                        </div>

                        <div class="text-center mt-5">
                            <button type="submit" class="btn btn-primary btn-lg">Add Record</button>
                            @if (flag == 1)
                            {
                                <h5>Record Added Successfully</h5>
                            }
                        </div>

                    </div>
                </EditForm>

            </div>
        }
        else
        {
            <div class="container form-container">

                <div class="text-center">
                    <h4>No student found with this ID</h4>
                    <button type="button" class="btn btn-primary btn-lg" @onclick="TryAgain">Try Again</button>
                </div>


            </div>
        }


    </main>

    <!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>KMSC</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
            Designed by <a href="https://farazibrar.github.io/New-CV/">Faraz Ibrar</a>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/chart.js/chart.umd.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>


    <!-- Template Main JS File -->
    <script src="js/main.js"></script>

</body>

</html>

@code {

    ModelSalary salary = new ModelSalary();
    int flag = 0;
    public void AddFee()
    {
        flag = DALSalary.AddSalaryInfo(salary);
    }
    void TryAgain()
    {
        flag = 0;
    }
    public void SignOut()
    {
        globalName.userName = null;
        globalName.status = null;
        navigation.NavigateTo($"/Login");
    }


}